$margins: 'top', 'left', 'bottom', 'right';

@each $margin in $margins {
  @for $i from 1 to 5 {
    .margin-#{$margin}-#{$i} {
      margin-#{$margin}: #{$i}rem;
    }
    .padding-#{$margin}-#{$i} {
      padding-#{$margin}: #{$i}rem;
    }
  }
}

.text-align-center {
  text-align: center;
}

.white-space-nowrap {
  white-space: nowrap;
}

.display-flow-root {
  display: flow-root;
}
