$margin: 2rem;

.container {
  text-align: center;
}

.title {
  margin-bottom: $margin;
}

.children {
  margin-right: -$margin;
  margin-left: -$margin;
}

.children svg {
  margin: ($margin * 0.5) $margin;
  vertical-align: middle;
  display: inline-block;
}
