@import 'styles/mixins';

.item {
  @include menu-item;
}

.title {
  @include text-overflow;
}

.button {
  @include mobile-menu-title;
  background-color: transparent;
  font-family: inherit;
  align-items: center;
  font-size: inherit;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0; // safari bug

  @include medium-down {
    grid-template-columns: auto 3rem;
    display: grid;
    width: 100%;
    gap: 1rem;

    @include brand using ($color, $variant) {
      &.active {
        background-color: brand($color, light);
        color: brand($color, dark);
      }
    }
  }

  @include medium-up {
    padding-left: $padding-menu--desktop;
    display: flex;

    @include brand using ($color, $variant) {
      @include anchor-default($color);

      @include focus {
        @include anchor-focus($color);
      }

      &.open {
        @include anchor-focus($color);
      }

      &.active {
        @include anchor-focus($color);
      }
    }
  }
}

.button.open {
  .MdArrowDropDown {
    transform: rotate(180deg);
  }
}

.MdArrowDropDown {
  height: $line-height-menu;
  width: $line-height-menu;
}

.list {
  @include reset-list;
  padding-bottom: $padding-menu--mobile;
  padding-top: $padding-menu--mobile;

  @include medium-down {
    border-top: 1px solid currentColor;
  }

  @include medium-up {
    border-radius: $border-radius-menu * 0.8;
    padding-right: $padding-menu--mobile;
    padding-left: $padding-menu--mobile;
    top: $line-height-menu + 1rem;
    white-space: nowrap;
    position: absolute;
    color: white;

    @include brand using ($color, $variant) {
      background-color: brand($color, dark);
    }
  }
}
