@import 'styles/mixins';

.first_row {
  grid-template-columns: auto 20rem;
}

.second_row {
  grid-template-columns: 20rem auto;
  margin-top: 3rem;
}

.list {
  padding-left: 1rem;
  margin: 0;
}

.logos {
  display: inline-block;
  margin-top: 1.5rem;

  svg {
    margin: 0.5rem;
  }
}

.spotlight {
  width: 3rem;
}
