@import 'styles/mixins';

@mixin column {
  align-items: flex-start;
  display: grid;
  gap: 1rem;
}

.intro {
  grid-template-columns: auto 20rem;
  margin-bottom: 2rem;

  @include medium-up {
    margin-bottom: 4rem;
  }
}

.copy {
  @include medium-down {
    margin-bottom: 2rem;
  }
}

.odds {
  @include column;
  @include medium-down {
    margin-bottom: 1rem;
  }
}

.evens {
  @include column;
}
