@mixin box-setup {
  position: relative;
  outline: none;
  z-index: 2;
}

@mixin double-box(
  $bg: white,
  $col: black,
  $bg_size: 0.25rem,
  $col_size: 0.15rem
) {
  @include box-setup;
  box-shadow: 0 0 0 $bg_size $bg, 0 0 0 ($bg_size + $col_size) $col;
}

@mixin single-box($bg: white, $size: 0.25rem) {
  @include box-setup;
  box-shadow: 0 0 0 $size $bg;
}
