@import 'styles/variables';
@import 'styles/mixins/focus';
@import 'styles/mixins/media';

@mixin montserrat {
  font-family: montserrat, sans-serif;
  font-weight: normal;
}

@mixin crete-round {
  font-family: crete-round, serif;
  font-weight: normal;
}

@mixin inset {
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

@mixin absolute-center {
  @include inset;
  position: absolute;
  margin: auto;
}

@mixin wrap($max: 48rem) {
  margin-right: auto;
  margin-left: auto;
  max-width: $max;
  width: 100%;
}

@function brand($color, $variant: base) {
  @return map-get(map-get($colors, $color), $variant);
}

@mixin theme($color: green) {
  background-color: brand($color);
  color: brand($color, dark);

  svg {
    fill: currentColor;
  }
}

@mixin theme-dark($color: green) {
  background-color: brand($color, dark);
  color: brand($color);

  svg {
    fill: currentColor;
  }
}

@mixin nav-link {
  @include crete-round;
  font-size: 1.25rem;
}

@mixin focus-visible {
  &[data-focus-visible-added] {
    @content;
  }
}

@mixin focus {
  @include focus-visible {
    @content;
  }

  &:active,
  &:hover {
    @content;
  }
}

@mixin focus-nav-link($bg: $c-green-dark, $col: white) {
  background-color: $bg;
  color: $col;

  svg {
    fill: $col;
  }
}

@mixin section($big: true, $top: false) {
  text-align: center;
  padding: 6rem 1rem;

  @if $big {
    align-items: center;
    min-height: 40rem;
    display: grid;
  }

  @if $top {
    padding-top: 9rem;
  }
}

@mixin reset-title {
  margin-bottom: 0;
  margin-top: 0;
}

@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin progressBar {
  height: $height-bar;
  position: relative;
  outline: none;
  width: 12rem;
  margin: 0;

  &.mini {
    width: 6rem;
  }

  &.main {
    width: 100%;
  }
}

@mixin preProgress {
  height: $height-bar;
}

@mixin knobby {
  height: $height-bar;
  width: $height-bar;
  position: relative;
  cursor: pointer;
  z-index: 3;
}

@mixin brand {
  @each $color, $variant in $colors {
    &.#{$color} {
      @content ($color, $variant);
    }
  }
}

@mixin playlist {
  border: 2px solid currentColor;
  border-radius: 1rem;
  max-width: 22rem;
  overflow: hidden;
  width: 100%;

  @include brand using ($color, $variant) {
    background-color: brand($color, dark);
    color: brand($color, dark);
  }

  &.dark {
    @include brand using ($color, $variant) {
      background-color: brand($color);
      color: brand($color);
    }
  }
}

@mixin flex-separate {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@mixin split-layout {
  grid-template-columns: repeat(2, 20rem);
  justify-content: center;
  align-items: flex-start;
  display: grid;
  gap: 4rem;
}

@mixin inputStyles {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem;
  color: inherit;
}

@mixin inputOnlyStyles {
  border: 1px solid currentColor;
  border-radius: 0.375rem;
  width: 100%;

  @include focus {
    @include single-box(currentColor, 1px);
    outline: none;
  }
}

@mixin anchor-focus($color) {
  background-color: brand($color, dark);
  color: white;
  outline: none;
}

@mixin anchor-default($color) {
  background-color: brand($color, light);
  color: brand($color, dark);
}

@mixin menu-button {
  background-color: transparent;
  font-family: inherit;
  align-items: center;
  font-size: inherit;
  cursor: pointer;
  display: flex;
  border: none;
  padding: 0;
  margin: 0; // safari bug

  &.open {
    .MdArrowDropDown {
      transform: rotate(180deg);
    }
  }

  @include medium-up {
    padding-left: $padding-menu;

    @include brand using ($color, $variant) {
      @include anchor-default($color);

      @include focus {
        @include anchor-focus($color);
      }

      &.open {
        @include anchor-focus($color);
      }

      &.active {
        @include anchor-focus($color);
      }
    }
  }
}

@mixin text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
}

@mixin menu-item {
  position: relative;

  @include medium-down {
    &:not(:last-child) {
      border-bottom: 1px solid currentColor;
    }
  }

  @include medium-up {
    &:first-child .anchor {
      border-bottom-left-radius: $border-radius-menu;
      border-top-left-radius: $border-radius-menu;
      padding-left: $border-radius-menu;
    }

    &:last-child .anchor {
      border-bottom-right-radius: $border-radius-menu;
      border-top-right-radius: $border-radius-menu;
      padding-right: $border-radius-menu;
    }
  }
}

@mixin mobile-menu-title {
  @include medium-down {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-weight: bold;
    font-size: 2rem;
  }
}
