@import 'styles/mixins';

$padding-container-vt: 6rem;
$padding-container-hz: 2rem;

.container {
  svg {
    fill: currentColor;
  }

  @include brand using ($color, $variant) {
    background-color: get-color($color);
    color: get-color($color, dark);

    ::selection {
      background-color: get-color($color, dark);
      color: get-color($color);
    }
  }
}

.container.padding {
  padding: $padding-container-vt $padding-container-hz;
}

.container.top {
  padding-top: $padding-container-vt * 1.66;

  @include large-down {
    padding-top: $padding-container-vt * 1.5;
  }
}

.container.center {
  align-items: center;
  display: grid;
}

.container.dark {
  @include brand using ($color, $variant) {
    background-color: get-color($color, dark);
    color: get-color($color);

    ::selection {
      background-color: get-color($color);
      color: get-color($color, dark);
    }
  }
}

.container.footer {
  color: get-color('cream');
  @include brand using ($color, $variant) {
    background-color: get-color($color, dark);
  }
}
