@import 'styles/mixins';

.container {
  svg {
    fill: currentColor;
  }

  @include brand using ($color, $variant) {
    background-color: brand($color);
    color: brand($color, dark);

    ::selection {
      background-color: brand($color, dark);
      color: brand($color);
    }
  }
}

.container.padding {
  padding: $padding-container-vt $padding-container-hz;
}

.container.top {
  padding-top: $padding-container-vt * 1.25;

  @include medium-up {
    padding-top: $padding-container-vt * 1.75;
  }
}

.container.center {
  align-items: center;
  display: grid;
}

.container.dark {
  @include brand using ($color, $variant) {
    background-color: brand($color, dark);
    color: brand($color);

    ::selection {
      background-color: brand($color);
      color: brand($color, dark);
    }
  }
}

.container.footer {
  color: brand('cream');

  @include brand using ($color, $variant) {
    background-color: brand($color, dark);
  }
}
