@import 'styles/mixins';

$padding-container-vt: 6rem;
$padding-container-hz: 1rem;

.container {
  svg {
    fill: currentColor;
  }

  @include brand using ($color, $variant) {
    background-color: get-color($color);
    color: get-color($color, dark);
  }
}

.container.padding {
  padding: $padding-container-vt $padding-container-hz;
}

.container.top {
  padding-top: $padding-container-vt * 2;
}

.container.section {
  align-items: center;
  min-height: 40rem;
  display: grid;
}

.container.dark {
  @include brand using ($color, $variant) {
    background-color: get-color($color, dark);
    color: get-color($color);
  }
}

.container.footer {
  color: get-color('cream');
  @include brand using ($color, $variant) {
    background-color: get-color($color, dark);
  }
}
