@import 'styles/mixins';

.container {
  border-radius: 1rem;
  overflow: hidden;
  font-size: 0;

  @include brand using($color, $variant) {
    background-color: get-color($color, light);
  }
}

.container.border {
  border: 0.125rem solid;

  @include brand using($color, $variant) {
    border-color: get-color($color, dark);
  }
}
