@import 'styles/mixins';

.container {
  justify-content: center;
  align-items: center;
  position: relative;
  height: 6.25rem;
  display: flex;
  z-index: 2;
}

.svg {
  position: relative;
  max-width: 100%;
  display: block;
  z-index: 2;

  @include small-down {
    max-width: 20rem;
    width: 80vw;
  }

  path {
    fill: white;
  }
}

.shadow {
  @include inset;
  box-shadow: 0 0 2rem 2rem $c-green;
  background-color: $c-green;
  position: absolute;
  border-radius: 50%;
  max-width: 100%;
  height: 2rem;
  opacity: 0.8;
  margin: auto;
  width: 25rem;
  top: 3.5rem;
}
