@import 'styles/mixins';

.container {
  text-align: center;
}

.children {
  @include small-up {
    margin-right: -2rem;
    margin-left: -2rem;
  }
}

.children svg {
  vertical-align: middle;
  display: inline-block;

  @include small-up {
    margin: 1rem 2rem;
  }

  @include small-down {
    transform: scale(0.8);
    margin: 0.5rem;
  }
}
