@import 'styles/mixins';

.container {
  padding-right: $padding-container-hz;
  padding-left: $padding-container-hz;
  justify-content: center;
  align-items: center;
  height: 6.25rem;
  display: flex;
}

.svg {
  position: relative;
  max-width: 100%;
  z-index: 2;

  @include small-down {
    height: 4.75rem;
    width: 20rem;
  }

  path {
    fill: white;
  }
}

.shadow {
  @include inset;
  box-shadow: 0 0 2rem 2rem $c-green;
  background-color: $c-green;
  position: absolute;
  border-radius: 50%;
  height: 25%;
  top: 65%;
}
