@import 'styles/mixins';

$padding-menu: 0.75rem;
$line-height-menu: 3rem;
$border-radius-menu: $line-height-menu * 0.5;

@mixin anchor-focus($color) {
  background-color: get-color($color, dark);
  color: white;
  outline: none;
}

@mixin anchor-default($color) {
  background-color: get-color($color, light);
}

.container {
  justify-content: center;
  position: absolute;
  padding-top: 3rem;
  display: flex;
  width: 100%;
}

.list {
  @include crete-round;
  @include reset-list;
  align-items: center;
  font-size: 1.25rem;
  display: flex;
}

.item {
  position: relative;

  &:first-child .anchor {
    border-bottom-left-radius: $border-radius-menu;
    border-top-left-radius: $border-radius-menu;
    padding-left: $border-radius-menu;
  }

  &:last-child .anchor {
    border-bottom-right-radius: $border-radius-menu;
    border-top-right-radius: $border-radius-menu;
    padding-right: $border-radius-menu;
  }
}

.dropdown_list {
  @include reset-list;
  border-radius: $border-radius-menu * 0.8;
  top: $line-height-menu + 1rem;
  white-space: nowrap;
  position: absolute;
  padding: 0.5rem;
  color: white;
  // display: none;

  @include brand using ($color, $variant) {
    background-color: get-color($color, dark);
  }
}

.button {
  padding: 0 0 0 $padding-menu;
  font-family: inherit;
  align-items: center;
  font-size: inherit;
  cursor: pointer;
  display: flex;
  border: none;

  @include brand using ($color, $variant) {
    @include anchor-default($color);

    @include focus {
      @include anchor-focus($color);
    }
  }
}

.button.active {
  @include brand using ($color, $variant) {
    @include anchor-focus($color);
  }
}

.MdArrowDropDown {
  height: $line-height-menu;
  width: $line-height-menu;
}

.anchor {
  line-height: $line-height-menu;
  padding-right: $padding-menu;
  padding-left: $padding-menu;
  display: inline-block;

  @include brand using ($color, $variant) {
    @include anchor-default($color);

    @include focus {
      @include anchor-focus($color);
    }
  }
}

.anchor.active {
  @include brand using ($color, $variant) {
    @include anchor-focus($color);
  }
}

.dropdown_anchor {
  border-radius: $border-radius-menu * 0.6;
  line-height: $line-height-menu * 0.75;
  padding-right: $padding-menu * 1.25;
  padding-left: $padding-menu * 1.25;
  display: inline-block;
  font-size: 1rem;

  @include brand using ($color, $variant) {
    @include focus {
      background-color: get-color($color, hover);
      outline: none;
    }
  }
}
