@import 'styles/mixins';

.container {
  border: 0.125rem solid currentColor;
  border-radius: 1rem;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
  width: 100%;

  + .container {
    margin-top: 4rem;
  }

  iframe {
    @include inset;
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
