@import 'styles/mixins';

$border-radius-video: 1rem;

.container {
  border-radius: $border-radius-video;
  border: 0.125rem solid currentColor;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
  width: 100%;

  iframe {
    @include inset;
    border-radius: $border-radius-video; // safari bug
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
