@import 'styles/mixins';

.container {
  mask-image: radial-gradient(white, black); // safari bug
  border: 0.125rem solid currentColor;
  background-color: black;
  border-radius: 1rem;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
  width: 100%;

  iframe,
  video {
    @include inset;
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
