@import 'styles/mixins';

.region {
  grid-template-columns: 250px auto;
  align-items: center;
  margin-top: 4rem;
  display: grid;
}

.region_inner {
  white-space: nowrap;
  align-items: center;
  display: flex;
  gap: 1rem;
}

.region_name {
  font-weight: bold;
}

.divider {
  background-color: currentColor;
  height: 0.125rem;
  width: 100%;
}

.areas {
  border-left: 0.125rem solid currentColor;
  white-space: nowrap;
  padding-left: 1rem;
}

.area {
  @include reset-list;
  list-style: inside;
  display: flex;
  gap: 1rem;
}

.area + .area {
  margin-top: 0.75rem;
}

.area_name {
  font-weight: bold;
  list-style: none;
}
