@import 'styles/mixins';

.container {
  @include medium-up {
    text-align: center;
  }
}

.region {
  margin-top: 2rem;

  @include medium-up {
    margin-top: 4rem;
  }

  @include large-up {
    grid-template-columns: 15.625rem auto;
    align-items: center;
    display: grid;
  }
}

.region_inner {
  @include large-up {
    white-space: nowrap;
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  @include large-down {
    margin-bottom: 1rem;
  }
}

.region_name {
  font-weight: bold;

  @include large-down {
    border-bottom: 2px solid;
    display: inline-block;
  }
}

.divider {
  @include large-up {
    background-color: currentColor;
    height: 0.125rem;
    width: 100%;
  }
}

.areas {
  @include large-up {
    border-left: 0.125rem solid currentColor;
    white-space: nowrap;
    padding-left: 1rem;
  }
}

.area {
  @include reset-list;
  list-style: inside;

  + .area {
    margin-top: 0.75rem;
  }

  @include large-up {
    display: flex;
    gap: 1rem;
  }
}

.area_name {
  font-weight: bold;
  list-style: none;
}

.place {
  @include large-down {
    display: inline-block;
    margin-right: 0.5rem;
    white-space: nowrap;
    margin-top: 0.25rem;
  }
}
