@import 'styles/mixins';

.list {
  justify-content: center;
  list-style: inside;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1rem;

  li {
    &:first-child {
      list-style: none;
    }

    @include large-down {
      list-style: none;
    }
  }
}
