@import 'styles/mixins';

.container {
  @include medium-up {
    text-align: center;
  }
}

.list {
  list-style: inside;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1rem;

  @include medium-up {
    justify-content: center;
  }

  li {
    &:first-child {
      list-style: none;
    }

    @include medium-down {
      list-style: none;
    }
  }
}
