@import 'styles/mixins';

@mixin inny-b {
  vertical-align: middle;
  display: inline-block;
  margin: 0.75rem;
}

.container {
  padding: 1rem;
}

.wrap {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;

  @include medium-down {
    text-align: center;
  }

  @include medium-up {
    @include flex-separate;
  }
}

.contact {
  @include medium-up {
    margin: -0.75rem;

    div {
      @include inny-b;
    }
  }

  @include medium-down {
    margin-top: 0.5rem;

    div + div {
      margin-top: 0.25rem;
    }
  }
}

.socials {
  margin: -0.75rem;

  a {
    @include inny-b;
  }
}
