@import 'styles/mixins';

$padding-mobile: 2rem;
$height: 35rem;

@mixin image-wrap {
  position: absolute;
  display: flex;
}

.container {
  position: relative;
  padding-top: 2rem;
  overflow: hidden;
  z-index: 1;
}

.wrap {
  justify-content: center;
  display: flex;

  @include medium-down {
    overflow: hidden;
  }
}

@function scale($size) {
  @return $size / 52;
}

@mixin animation($size) {
  .steph {
    height: scale($size) * 41;
    left: 0;
    width: $size;

    @include medium-up {
      left: -(scale($size) * 5);
    }
  }

  .wrap_spark {
    height: scale($size) * 70.2;
    width: scale($size) * 70.2;
    left: scale($size) * 12;
    top: scale($size) * 4.4;

    @include medium-up {
      left: scale($size) * 7;
    }
  }
}

.steph {
  @include image-wrap;
  z-index: 2;
  bottom: 0;
  left: 0;
}

.wrap_spark {
  position: relative;
}

.top_spark {
  mask-image: url('/mask.webp');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 0;
  opacity: 0;
}

.bg_spark {
  @include inset;
  position: absolute;
  opacity: 0.3;
}

.logo {
  position: absolute;
  z-index: 2;
  top: 10rem;
  right: 0;
  left: 0;

  @include medium-down {
    display: none;
  }
}

.animation {
  position: relative;
  @include animation(23rem);

  @include small-up {
    @include animation(27rem);
  }

  @include medium-up {
    @include animation(32.5rem);
  }
}
