@import 'styles/mixins';

$height: 35rem;

@mixin image-wrap {
  position: absolute;
  display: flex;
}

.container {
  overflow: hidden;
}

.wrap {
  min-height: $height;
  text-align: center;
  position: relative;
}

.steph {
  @include image-wrap;
  left: -3rem;
  z-index: 2;
  bottom: 0;
}

.spark {
  @include image-wrap;
  bottom: -2.75rem;
  right: -4.5rem;
  opacity: 0;
}

.logo {
  position: relative;
  z-index: 2;
}

.svg {
  position: relative;
  display: block;
  margin: auto;
  z-index: 2;
}

.shadow {
  @include inset;
  box-shadow: 0 0 2rem 2rem $c-green;
  background-color: $c-green;
  position: absolute;
  border-radius: 50%;
  height: 2rem;
  opacity: 0.8;
  margin: auto;
  width: 25rem;
  top: 3.5rem;
}

.animation {
  @include inset;
  position: absolute;
  width: 43.875rem;
  height: $height;
  margin: auto;
}
