@import 'styles/mixins';

$padding-mobile: 2rem;
$height: 35rem;

@mixin image-wrap {
  position: absolute;
  display: flex;
}

.container {
  overflow: hidden;
}

.wrap {
  padding-right: $padding-mobile;
  padding-left: $padding-mobile;
  // min-height: $height;
  text-align: center;
  position: relative;
}

.steph {
  @include image-wrap;
  @include inset;
  z-index: 2;
  top: auto;

  @include large-up {
    left: -3rem;
  }

  @include large-down {
    display: none;
  }
}

.spark {
  @include image-wrap;
  bottom: 0;

  @include large-up {
    bottom: -2.75rem;
    right: -4.5rem;
    opacity: 0;
  }

  @include large-down {
    display: none;
  }
}

.logo {
  
  @include large-up {
    position: relative;
    z-index: 2;
  }
}

.svg {
  position: relative;
  max-width: 100%;
  display: block;
  margin: auto;
  z-index: 2;

  path {
    fill: white;
  }
}

.shadow {
  @include inset;
  box-shadow: 0 0 2rem 2rem $c-green;
  background-color: $c-green;
  position: absolute;
  border-radius: 50%;
  max-width: 100%;
  height: 2rem;
  opacity: 0.8;
  margin: auto;
  width: 25rem;
  top: 3.5rem;
}

.animation {
  position: relative;
  padding-top: 80%;
}
