@import 'styles/mixins';

.wrap {
  grid-auto-flow: column;
  display: grid;
  gap: 3.75rem;
}

.message {
  text-align: left;
}

.player + .player {
  margin-top: 1rem;
}

.title {
  margin-bottom: 1rem;
}
