@import 'styles/mixins';

.wrap {
  max-width: 50rem;
}

.split {
  @include large-up {
    grid-template-columns: 19rem auto;
  }
}

.players {
  @include large-up {
    margin-top: 1rem;
  }

  @include large-down {
    @include small-up {
      margin: -0.5rem;
    }
  }
}

.player {
  max-width: 19rem;

  @include small-down {
    + .player {
      margin-top: 1rem;
    }
  }

  @include large-down {
    @include small-up {
      display: inline-block;
      margin: 0.5rem;
    }
  }

  @include large-up {
    + .player {
      margin-top: 1rem;
    }
  }
}

.title {
  margin-bottom: 1rem;
}
