@import 'styles/mixins';

.wrap {
  text-align: center;
  max-width: 68rem;
}

.link {
  @include size($size-track-media);
  background-color: currentColor;
  border: 1px solid currentColor;
  justify-content: center;
  background-size: cover;
  border-radius: 0.75rem;
  display: inline-flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 0.75rem;

  @include focus {
    .overlay {
      opacity: 1;
    }
  }
}

.overlay {
  @include inset;
  transition: opacity 200ms;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  opacity: 0;

  @include brand using($color, $variant) {
    background-color: rgba(brand($color, dark), 0.9);
  }
}

.logo {
  @include size(2.5rem);
  @include brand using($color, $variant) {
    color: brand($color);
  }
}

.button {
  margin-top: 2rem;
  min-width: 10rem;
}
