@import 'styles/mixins';

.wrap {
  @include flex-separate;
}

.message {
  text-align: left;
}

.sample {
  position: relative;
}

.wrap_player {
  align-items: center;
  max-width: 12.5rem;
  position: absolute;
  display: flex;
  left: -8rem;
  z-index: 2;
  bottom: 0;
  top: 0;
}

.title {
  margin-bottom: 1rem;
}

.wrap_image {
  border-radius: 2rem;
  overflow: hidden;
  display: flex;

  @include brand using($color, $variant) {
    background-color: rgba(get-color($color), 0.5);
  }
}
