@import 'styles/mixins';

.wrap {
  @include flex-separate;
}

.message {
  @include split-copy;
}

.sample {
  display: inline-block;
  position: relative;
}

.player {
  width: 12.5rem;

  @include small-down {
    margin-bottom: 2rem;
  }

  @include small-up {
    position: absolute;
    z-index: 2;

    @include large-down {
      right: -3.5rem;
      top: 19.5rem;
    }
  }

  @include large-up {
    left: -8rem;
    top: 9rem;
  }
}

.title {
  margin-bottom: 1rem;
}

.wrap_image {
  border-radius: 2rem;
  overflow: hidden;
  display: flex;

  @include brand using($color, $variant) {
    background-color: rgba(brand($color), 0.5);
  }
}
