@import 'styles/mixins';

@mixin center {
  justify-items: center;
  align-items: center;
  text-align: center;
  display: grid;
}

.wrap {
  @include crete-round;
  @include center;
  overflow: hidden;
  gap: 2rem;

  @include large-up {
    grid-auto-flow: column;
    min-height: 13rem;
    gap: 3rem;
  }
}

.quote {
  @include center;
  margin-bottom: 0.75rem;
  font-size: 1.75rem;
  min-height: 6rem;
}

.rating {
  margin-bottom: 0.75rem;
}

.star {
  height: 1.5rem;
  width: 1.5rem;
}
