@import 'styles/mixins';

@mixin center {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
}

.wrap {
  @include center;
  @include crete-round;
  display: flex;
  gap: 3rem;
}

.quote {
  @include center;
  margin-bottom: 0.75rem;
  font-size: 1.75rem;
  min-height: 6rem;
}

.rating {
  margin-bottom: 0.75rem;
}

.star {
  height: 1.5rem;
  width: 1.5rem;
}
