@import 'styles/mixins';

.copy {
  @include split-copy;
}

.wrap_video {
  margin-top: 4rem;

  @include medium-down {
    margin-top: 2rem;
  }
}

.wrap_caption {
  margin-top: 2rem;

  @include medium-up {
    text-align: center;
  }
}

.caption {
  padding: 0.75rem 1.25rem;
  border-radius: 1.75rem;
  display: inline-block;

  @include brand using ($color, $variant) {
    background-color: brand($color, light);
  }
}
