@import 'styles/mixins';

.container {
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.label {
  margin-bottom: 0.25rem;
}

.alert {
  border: 1px solid currentColor;
  background-color: $c-red;
  padding: 0.375rem 0.5rem;
  border-radius: 0.375rem;
  margin-top: 0.5rem;
  color: $c-red-dark;
}
