@import 'styles/mixins';

$size: 2.5rem;

.container {
  background-color: transparent;
  display: inline-block;
  max-width: 12rem;
  font-size: 1rem;
  margin: 0.75rem;
  cursor: pointer;
  border: none;
  width: 100%;

  @include brand using ($color, $variant) {
    color: get-color($color, dark);

    .media {
      background-color: get-color($color);
    }
  }
}

.container.dark {
  @include brand using ($color, $variant) {
    color: get-color($color);

    .media {
      background-color: get-color($color, dark);
    }
  }
}

.container[data='toggle-closed'] {
  display: none;
}

.media {
  border: 1px solid currentColor;
  justify-content: center;
  background-size: cover;
  border-radius: 0.75rem;
  align-items: center;
  display: flex;
  height: 12rem;
  width: 12rem;
}

.svg {
  @include absolute-center;
  z-index: 1;
}

.title {
  @include crete-round;
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
  margin-top: 1rem;
}
