@import 'styles/mixins';

$size-loader: 6rem;

.container {
  @include size($size-loader);
  @include inset;
  animation: animation 1s ease-in infinite;
  background-color: white;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  margin: auto;
}

@keyframes animation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
