@import 'styles/mixins';

.container {
  justify-content: center;
  position: absolute;
  padding-top: 3rem;
  display: flex;
  width: 100%;
  z-index: 3;
}

.nav {
  position: relative;
  z-index: 2;
}

.list {
  @include crete-round;
  @include reset-list;
  align-items: center;
  font-size: 1.25rem;
  display: flex;
}
