@import 'styles/mixins';

.container {
  text-align: center;
}

.buttons {
  margin-bottom: 1rem;
}

.button {
  border: 1px solid currentColor;
  border-radius: 2.8125rem;
  padding: 0.5rem 0.75rem;
  margin: $margin-tab;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;

  @include brand using($color, $variant) {
    background-color: brand($color);
    color: brand($color, dark);
  }

  &.open {
    @include brand using($color, $variant) {
      background-color: brand($color, dark);
      border-color: brand($color, dark);
      color: brand($color);
    }
  }
}

.button.dark {
  @include brand using($color, $variant) {
    background-color: brand($color, dark);
    color: brand($color);
  }

  &.open {
    @include brand using($color, $variant) {
      background-color: brand($color);
      border-color: brand($color);
      color: brand($color, dark);
    }
  }
}
