@import 'styles/mixins';

.container {
  justify-content: center;
  min-height: 22.25rem;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.container[data='toggle-closed'] {
  display: none;
}
