@import 'styles/mixins';

.container {
  max-width: 12rem + (0.75rem * 2);
  background-color: transparent;
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  gap: 0.75rem;
  width: 100%;

  @include brand using ($color, $variant) {
    color: get-color($color);

    .play_button {
      background-color: get-color($color);
      color: get-color($color, dark);
    }

    .progress {
      stroke: get-color($color, dark);
      fill: rgba(get-color($color, dark), 0.8);
    }

    .bar {
      stroke: get-color($color);
    }
  }
}

.container[data='toggle-closed'] {
  display: none;
}

.media {
  background-color: currentColor;
  border: 1px solid currentColor;
  background-size: cover;
  border-radius: 0.75rem;
  position: relative;
  height: 12rem;
  width: 12rem;
}

.svg {
  @include absolute-center;
  z-index: 1;
}

.title {
  @include crete-round;
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
  margin-top: 1rem;
}

$size: 2.5rem;

.play_button {
  @include absolute-center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: $size;
  width: $size;
  z-index: 2;
  border: 0;
}
