@import 'styles/mixins';

.button {
  border: 1px solid currentColor;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: $size-play;
  width: $size-play;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  padding: 0;

  @include brand using ($color, $variant) {
    @include player-button($color);
  }
}

.button.dark {
  @include brand using ($color, $variant) {
    @include player-button($color, true);
  }
}

.fa_play {
  position: relative;
  width: 0.75rem;
  left: 1px;
}

.fa_pause {
  width: 0.75rem;
}
