@import 'styles/mixins';

.container {
  text-align: left;
  padding: 0.75rem;

  svg {
    fill: currentColor;
  }

  @include brand using ($color, $variant) {
    background-color: brand($color, dark);
    color: brand($color);

    .bar {
      @include setup--bar(brand($color, bar));
    }

    .progress {
      background-color: brand($color);
    }
  }
}

.container.playlist {
  color: white;

  .progress {
    background-color: white;
  }
}

.container.dark {
  @include brand using ($color, $variant) {
    background-color: brand($color);
    color: brand($color, dark);

    .bar {
      @include setup--bar(brand($color, progress));
    }

    .progress {
      background-color: brand($color, dark);
    }
  }
}

.wrap {
  grid-template-columns: 30fr 280fr 30fr;
  align-items: center;
  display: grid;
  gap: 0.75rem;
}

.title_wrap {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  overflow: hidden;
}

.title {
  @include nav-link;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: normal;
  overflow: hidden;
}

.bar {
  background-color: gray;
  cursor: pointer;
  border: none;
  width: 100%;
  padding: 0;
}

.progress {
  background-color: white;
  height: 0.25rem;
  width: 0;
}

.MdOutlineFileDownload {
  @include size(1.875rem);
  position: relative;
  top: -1px;
}

.link {
  border-radius: 1.1875rem;
  padding: 0.25rem;
  display: flex;

  @include focus {
    outline: none;

    @include brand using($color, $variant) {
      background-color: brand($color);
      color: brand($color, dark);
    }
  }
}

.link.dark {
  @include focus {
    @include brand using($color, $variant) {
      background-color: brand($color, dark);
      color: brand($color);
    }
  }
}
