@import 'styles/mixins';

.container {
  text-align: left;
  padding: 0.75rem;

  svg {
    fill: currentColor;
  }

  @include brand using ($color, $variant) {
    background-color: brand($color, dark);
    color: brand($color);

    .bar {
      background-color: brand($color, bar);
    }

    .progress {
      background-color: brand($color);
    }
  }
}

.container.playlist {
  color: white;

  .progress {
    background-color: white;
  }
}

.container.dark {
  @include brand using ($color, $variant) {
    background-color: brand($color);
    color: brand($color, dark);

    .bar {
      background-color: brand($color, progress);
    }

    .progress {
      background-color: brand($color, dark);
    }
  }
}

.wrap {
  grid-template-columns: 30fr 280fr 30fr;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.title_wrap {
  overflow: hidden;
}

.title {
  @include nav-link;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: normal;
  overflow: hidden;
}

.bar {
  background-color: gray;
  cursor: pointer;
  border: none;
  width: 100%;
  padding: 0;
}

.progress {
  background-color: white;
  height: 0.25rem;
  width: 0;
}

.download {
  height: 2rem;
  width: 2rem;
}
