@import 'styles/mixins';

.container {
  @include crete-round;
  padding: 0.75rem 1.5rem 0.75rem 0.75rem;
  grid-template-columns: 0.875rem auto;
  background-color: transparent;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  display: grid;
  border: none;
  gap: 0.5rem;
  width: 100%;

  @include focus {
    background-color: white;
  }
}

.container.active {
  background-color: white;
}

.container:not(:last-of-type) {
  // border-bottom: 1px solid currentColor;
}

.title {
  @include text-overflow;
}
