@import 'styles/mixins';

@mixin container {
  border-radius: 1rem;
  overflow: hidden;
  max-width: 55vw;
  font-size: 0;

  @include brand using($color, $variant) {
    background-color: brand($color, light);
  }
}

.container {
  @include container;
}

.container_border {
  @include container;
  border: 0.125rem solid currentColor;
}
