@import 'styles/mixins';

@mixin container {
  background-color: currentColor;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 55vw;
  font-size: 0;
}

.container {
  @include container;
}

.container_border {
  @include container;
  border: 0.125rem solid currentColor;
}
