@import 'styles/mixins';

.container {
  border: 0.125rem solid currentColor;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 60vw;
  font-size: 0;

  @include brand using($color, $variant) {
    background-color: brand($color, light);
  }
}
