@import 'styles/mixins';

html,
body {
  @include montserrat;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  @include reset-title;
}

h2 {
  @include reset-title;
}

h3 {
  @include reset-title;
}

h4 {
  @include reset-title;
}

p {
  @include reset-title;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.text-align-center {
  text-align: center;
}
