@import 'styles/mixins';
@import 'globals/atomic';

html,
body {
  @include montserrat;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

h1 {
  @include reset-title;
}

h2 {
  @include reset-title;
}

h3 {
  @include reset-title;
}

h4 {
  @include reset-title;
}

p {
  @include reset-title;

  + p {
    margin-top: 1rem;
  }
}

textarea {
  @include inputStyles;
  @include inputOnlyStyles;
  min-height: 5rem;
  resize: none;
}

input {
  @include inputStyles;
  @include inputOnlyStyles;
}

button {
  @include inputStyles;
  cursor: pointer;
}

label {
  font-weight: bold;
}
